/*
 * MIT License
 *
 * Copyright (c) 2019 Dak Washbrook
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 */

.pageContainerCode {
    padding: 5px;
    margin-left: 10px;
}

.pageContainerCode:hover {
    background-color: rgba(240,130,181, 0.2);
    cursor: pointer;
    transition: none;
}

.pageContainerCodeSelected {
    background-color: rgba(240,130,181, 1) !important;
    animation: click-color 1s;
}

.copy {
    opacity: 0;
    margin-left: 10px;
}

@keyframes click-color {
    0% {
        background-color: rgba(240,130,181, 1);
    }
    100% {
        background-color: rgba(240,130,181, 0.2);
    }
}

.pageContainerCode:hover ~ .copy {
    opacity: 1;
}